<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Structure</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="review.css">
    <link rel="stylesheet" href="../fonts.css">
    <script type="module" src="scripts.js"></script>

</head>
<body>
    <button class="profile_back_arrow" title = "Back Button"></button>

    <div class="background-image" alt="Profile Image">


    </div>

    <div class="profile_container">

        <img class="profile_icon" src="../../Images/profile_repo_icon.gif" alt="Profile Icon">

        <img class="profile_edit_icon" src="../../Images/profile_edit_icon.png" alt="Edit Profile Icon"> 

        <p class="profile_name"></p>
        <p class="profile_id"></p>

        <p class="profile_description">Olá, sou Llts e sejam bem vindos ao meu perfil!!</p>

    </div>

    <div class="profile_status_container">
        <div class="status_container">

            <p class="status_number">0</p>
            <p class="status">Seguidores</p>

        </div>

        <div class="status_container">

            <p class="status_number">0</p>
            <p class="status">Seguindo</p>

        </div>

        <div class="status_container">

            <p class="status_number">0</p>
            <p class="status">Livros lidos</p>

        </div>

    </div>

    <hr class="profile_line">

    <div class="reads_container">

        <h1 class="reads_title">Livros favoritos</h1>

        <div class="slider">
            
            <div class="slideshow" style="--quantity: 6">
                
                <img class="reads_book" style="--position: 1" alt="Monster Integration">
                <img class="reads_book" style="--position: 2" alt="Monster Integration">
                <img class="reads_book" style="--position: 3" alt="Monster Integration">
                <img class="reads_book" style="--position: 4" alt="Monster Integration">
                <img class="reads_book" style="--position: 5" alt="Monster Integration">
                <img class="reads_book" style="--position: 6" alt="Monster Integration">
                <img class="reads_book" style="--position: 7" alt="Monster Integration">
                
            </div>

        </div>

    </div>

    <hr class="profile_line above_review">

    <div class="review">

        <h1 class="title">Resenhas</h1>

        <img src="../../Images/repo_icon.jpg" class="icon" alt="Profile icon">

        <div class="box">
            
            <div class="top-info">

                <p class="book-title">The Prince Wihout Sorrow</p>
                <p class="release-date">3 meses</p>

            </div>

            <div class="content">

                <h1>Perfeito!!</h1>
                <p>Amei esse livro, a história é incrível e os personagens são muito bem desenvolvidos.</p>
                <hr>

            </div>

            <div class="bottom-info">

                <img src="../../Images/star_rating_icon.png" alt="Star Rating Icon">

                <div class="comment">

                    <p>0</p>
                    <img src="../../Images/comment_icon.png" alt="Like Icon">

                </div>
            </div>
        </div>
    </div>

    <div class="space"></div>

</body>
</html>