<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Structure</title>

    <link rel="stylesheet" href="styles.css">

</head>
<body>

    <div class="background-image" alt="Profile Image"></div>

    <div class="profile_container">

        <button class="profile_icon"></button>

        <p class="profile_name">Ignatius Zedric</p>
        <p class="profile_id">@ignatius_zedric</p>

        <p class="profile_description">Olá, sou Zendric e sejam bem vindos ao meu perfil!!</p>

    </div>


</body>
</html>