html {
    background-image: url(../Images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.visions {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 120%;
}

.button_login{
    background-color: transparent;

    width: 90px;
    height: 90px;
    
    margin-left: 20px;

    border-color: white;
    border-width:1px;
    border-style: solid;
    border-radius: 10px;

    color: white;
    font-size: 15px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 230px;
    transform: translate(-50%, -50%);
    background-color: rgba(44, 44, 44, 1);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: none; /* Initially hidden */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
} 

.text_box{
    background-color: transparent;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    
    color: white;
    font-size: 13px;

    border-color: white;
    border-width: 1px;
    border-radius: 16px;
    border-style: solid;
    
    width: 95%;
    height: 1px;
    padding: 15px;
    margin-bottom: 10px;
}