html {
    background-image: url(../Images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
}

.visions {
    font-size: 50px;
    font-family: url(../Fonts/AMORIA.otf);
    text-align: center;
    padding-top: 120%;
}

.subtitle {
    font-size: 15px;
    font-family: url(../Fonts/LEMONMILK-Light.otf);
    text-align: center;
    margin-top: -20px;
}

.button_container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    gap: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button_login {
    background-color: transparent;

    width: 100px;
    height: 100px;
    margin-top: 20px;

    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;

    color: white;
    font-size: 15px;
    font-family: 'LEMON MILK Medium';
}

.button_register {
    background-color: white;

    width: 100px;
    height: 100px;
    margin-top: 20px;


    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;

    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'LEMON MILK Medium';
}

.popup_overlay {
    position: fixed; /* Ensures the overlay covers the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(5px); /* Applies the blur effect */
    z-index: 1; /* Places the overlay behind the popup */
    display: none; /* Initially hidden */
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 230px;
    transform: translate(-50%, -50%);
    background-color: rgba(44, 44, 44, 1);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    display: none; /* Initially hidden */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
} 

.text_box{
    background-color: transparent;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    
    font-size: 13px;

    border-color: white;
    border-width: 1px;
    border-radius: 16px;
    border-style: solid;
    
    width: 95%;
    height: 1px;
    padding: 15px;
    margin-bottom: 10px;
    
}

.logo_popup {
    text-align: center;
    font-size: 30px;
}

.button_login_popup {
    background-color: white;

    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 105px;
    height: 40px;
    margin-top: 50px;

    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;

    color: black;
    font-size: 15px;
    font-family: 'LEMON MILK Medium';
}

.forgot_password {
    position: relative;

    margin-top: -10px;

    text-align: center;
    font-size: 10px;
    text-decoration: underline;

}