<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <div class = "navigation_bar">


        <button class = "button_navigation_bar">V</button>
        <button class = "button_lupa_navigation_bar"></button>

    </div>


</body>

<div class = "daily_recommendation_container">

    <h1 class = "daily_recommendation_title">Daily Recommendation</h1>

        <img src="../../Images/a little life.jpg" class = "daily_recommendation_image">
        <p class = "daily_recommendation_description">A Little Life follows four college classmates--broke, adrift, and buoyed only by their friendship and ambition--as they move to New York in search of fame and fortune...</p>




</div>

<div class = "popular_books_container">

    <h1 class = "popular_books_title">Hot Picks</h1>
    <!--<h1 class = "popular_books_weekly">Weekly</h1>
    <h1 class = "popular_books_monthly">Monthly</h1>
    <h1 class = "popular_books_yearly">Yearly</h1>
    <h1 class = "popular_books_line">_________________</h1>

    <img src="../../Images/amanhecer na colheita.jpg" class = "popular_books_image1">
    <img scr="../../Images/the poppy war.jpg" class = "popular_books_image2">
    <img scr="../../Images/warbreaker.jpg" class = "popular_books_image3">-->

</div>

</html>