<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../fonts.css">

    <script type="module" src="scripts.js"></script>
    
</head>
<body>

    <div class="navigation">

        <button class="logo">V</button>
        <button class="lupa" title="Lupa"></button>

    </div>

<!--<div class = "lower_navigation_bar">

    <button class = "button_lower_navigation_bar" onclick="toHomeScreen()">Home</button>
    <button class = "button_lower_navigation_bar" onclick="toProfileScreen()">Profile</button>
    <button class = "button_lower_navigation_bar" onclick="toSettingsScreen()">Settings</button>

</div>-->

<div class="daily-recommendation">
    
    <img id="daily-image" class="click">

    <div class="text">

        <h1>Recomendação diária</h1>
    
        <p id="desc"></p>

    </div>
</div>

<div class="popular">

    <h1 class="title">Em Alta</h1>

    <div class="periods">

        <h1 style="--a: 1">Semanal</h1>
        <h1 class="active" style="--ia: 2">Mensal</h1>
        <h1 style="--a: 3">Anual</h1>
        
    </div>

    <hr>

    <div class="books">

        <img class="click">
        <img class="active click">
        <img class="click">

    </div>
</div>

<div class="new-releases">

    <h1 class="title">Lançamentos</h1>
    <!--<button class = "seeall_button" onclick="toSeeAllScreen()" title="Expandir"></button>-->

    <hr>

    <div class="books">
        <div class="top">

            <img src="../../Images/a little life.jpg" class="click">
            <img src="../../Images/a little life.jpg" class="click">
            <img src="../../Images/a little life.jpg" class="click">

        </div>

        <div class="bottom">

            <img src="../../Images/a little life.jpg" class="click">
            <img src="../../Images/a little life.jpg" class="click">
            <img src="../../Images/a little life.jpg" class="click">

        </div>
    </div>
</div>

<div class="recommendations">

    <h1 class="title">Recomendados para você</h1>

    <hr>
    
    <div class="genres">

        <h1 class="active" style="--a: 1">Fantasia</h1>
        <h1 style="--a: 2">Horror</h1>
        <h1 style="--a: 3">Romance</h1>
        <h1 style="--a: 4">Sci-fi</h1>
        <h1 style="--a: 5">Terror</h1>

    </div>

    <div class="books">
                    
        <img class="cover click">

        <div class="text">

            <h1 class="title"></h1>
            <h1 class="author"></h1>
    
            <p class="description"></p>
    
            <img src="../../Images/star_rating_icon.png" class = "starsrating" alt = "">

        </div>  
    </div>
    

    <div class="books">
                    
        <img class ="cover click">

        <div class="text">

            <h1 class="title"></h1>
            <h1 class="author"></h1>
    
            <p class="description"></p>
    
            <img src="../../Images/star_rating_icon.png" class = "starsrating" alt = "">

        </div>    
    </div>

    <div class="books">
                    
        <img class ="cover click">

        <div class="text">

            <h1 class="title"></h1>
            <h1 class="author"></h1>
    
            <p class="description"></p>
    
            <img src="../../Images/star_rating_icon.png" class = "starsrating" alt = "">

        </div>   
    </div>
</div>
</body>
</html>