<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <script src="scripts.js"></script>
</head>
<body>
    
    <div class = "navigation_bar">

        <button class = "button_navigation_bar" onclick="toProfileScreen()">V</button>
        <button class = "button_lupa_navigation_bar" onclick="toSearchScreen()" title="Lupa"></button>

    </div>

</body>

<div class = "lower_navigation_bar">

    <button class = "button_lower_navigation_bar" onclick="toHomeScreen()">Home</button>
    <button class = "button_lower_navigation_bar" onclick="toProfileScreen()">Profile</button>
    <button class = "button_lower_navigation_bar" onclick="toSettingsScreen()">Settings</button>

</div>

<div class = "daily_recommendation_container">

    <h1 class = "daily_recommendation_title">Recomendação diária</h1>

    <img id="daily-image" class="daily_recommendation_image" onclick="toBookScreen()">
    <p class = "daily_recommendation_description" id="desc"></p>




</div>

<div class = "popular_books_container">

    <h1 class = "popular_books_title">Em Alta</h1>

    <div class = "popular_books_time_container">
    <h1 class = "popular_books_time">Semanal</h1>
    <h1 class = "popular_books_time popular_books_time_active">Mensal</h1>
    <h1 class = "popular_books_time">Anual</h1>
    </div>

    <h1 class = "popular_books_line">______________</h1>

    <div class = "popular_books_books_container">

        <img id="hot-book2" class = "popular_books_image">
        <img id="hot-book1" class = "popular_books_image popular_books_image_active">
        <img id="hot-book3" class = "popular_books_image">

    </div>

</div>

<div class = "new_releases_container">

    <h1 class = "new_releases_title">Lançamentos</h1>
    <button class = "seeall_button" onclick="toSeeAllScreen()" title="Expandir"></button>

    <div class = "new_releases_books_container">

    <img id="release-book1" class = "new_releases_image">
    <img id="release-book2" class = "new_releases_image">
    <img id="release-book3" class = "new_releases_image">
    <img id="release-book4" class = "new_releases_image">
    <img id="release-book5" class = "new_releases_image">
    <img id="release-book6" class = "new_releases_image">

    </div>

</div>

<div class = "recommendations_container">

    <h1 class = "recommendations_title">Recomendados para você</h1>
    
    <div class = "recommendations_genre_container">

    <h1 class = "recommendations_genre">Fantasia</h1>
    <h1 class = "recommendations_genre">Horror</h1>
    <h1 class = "recommendations_genre">Romance</h1>
    <h1 class = "recommendations_genre">Sci-fi</h1>
    <h1 class = "recommendations_genre">Terror</h1>

    </div>

        <div class = "recommendations_book1_container">

            <h1 class = "recommendations_book1_title">Sol da Meia Noite</h1>
            <h1 class = "recommendations_book1_author">Stephenie Meyer</h1>
            <p class = "recommendations_book_description">Sol da Meia Noite é um romance de fantasia escrito por Stephenie Meyer, que faz parte da série Crepúsculo. O livro é uma reinterpretação do..</p>
            <img src="../../Images/star_rating_icon.png" class = "starsrating" alt = "">
            <img src="../../Images/sol da meia noite.jpg" class = "recommendations_book_image" alt = "">
           
        </div>
        

        <div class = "recommendations_book2_container">

            <h1 class = "recommendations_book2_title">Viúva de Ferro</h1>
            <h1 class = "recommendations_book2_author">Xiran Jay Zhao</h1>
            <p class = "recommendations_book_description">Viúva de Ferro é um romance de fantasia escrito por Xiran Jay Zhao, que combina elementos da mitologia chinesaqwerwer wer we rwsadfasdasdasdasdasdasdaser werwerwe rwerwe werwer werw wer wer wer we rwer w ...</p>
            <img src="../../Images/star_rating_icon.png" class = "starsrating" alt = "">
            <img src="../../Images/viuva de ferro.jpg" class = "recommendations_book_image" alt = "">

        </div>

        <div class = "recommendations_book3_container">

            <h1 class = "recommendations_book3_title">Yellowface</h1>
            <h1 class = "recommendations_book3_author">R.F Kuang</h1>
            <p class = "recommendations_book_description">Yellowface é um romance contemporâneo escrito por R.F Kuang, que aborda questões de identidade, apropriação cultural...</p>
            <img src="../../Images/star_rating_icon.png" class = "starsrating" alt = "">
            <img src="../../Images/yellowface.jpg" class = "recommendations_book_image" alt = "">

        </div>

    </div>
        
    </html>

</html>