
html {
    scrollbar-width: none;

    background-color: #161616;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
}

body {
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    gap: 13px;

    padding-top: 65px;
}

.navigation {
    position: fixed;
    z-index: 1;

    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    
    align-items: center;

    padding-top: 10px;
    
    width: 100%;
    height: 60px;

    background-color: #161616;
    box-shadow: 0 2px 10px #161616;
}

.navigation .logo {
    cursor: pointer;
    color: white;

    margin-left: 15px;

    width: 40px;
    height: 40px;

    border: none;

    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    
    font-family: AMORIA;
    font-size: 40px;
}

.navigation .lupa {
    color: white;
    cursor: pointer;
    
    margin-right: 15px;

    width: 35px;
    height: 35px;

    border: none;

    background-color: transparent;
    background-image: url(../../Images/lupa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.daily-recommendation {
    position: relative;
    
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    justify-content: center;
    gap: 15px;

    align-items: center;

    width: 95%;
    height: auto;

    border-radius: 10px;

    background-color: #727476;
}

.daily-recommendation img {
    position: relative;

    margin-left: 10px;

    width: 25%;
    height: auto;

    border-radius: 5px;
    
    background-size: cover;
    background-repeat: no-repeat;
}

.click {
    cursor: pointer;
}

.daily-recommendation .text {
    position: relative;
    
    display: flex;
    flex-direction: column;

    width: 70%;
    height: 100%;
}

.daily-recommendation .text h1{
    white-space: nowrap;
    color: rgb(29, 41, 46);

    position: relative;

    width: 92%;
    height: 8px;

    font-size: 1.02em;
    font-family: LEMON MILK Medium;
    text-align: left;
}

.daily-recommendation .text p{
    color: rgb(29, 41, 46);
    
    position: relative;

    overflow: hidden;

    width: 92%;
    max-height: 100px;

    font-size: 0.9em;
    font-family: Arial Bold;
    text-align: justify;
}

.popular {
    position: relative;
    
    left: 50%;
    transform: translate(-50%, 0);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    padding-bottom: 10px;

    align-items: center;
    
    width: 95%;
    
    border-radius: 10px;

    background-color: #727476;
}

.popular .title {

    font-size: 1.5em;
    font-family: LEMON MILK Medium;
    text-align: center;
    color: rgb(29, 41, 46);
    z-index: 1;
}

.popular .periods {
    position: relative;

    display: flex;
    align-items: center;
    gap: 8px;
    
    width: 95%;
}

.popular .periods h1 {
    z-index: 1;
    color: rgb(29, 41, 46);
    cursor: pointer;

    margin: 0;
    
    padding: 2px 8px;
    
    flex: 1 1 0;

    font-size: 1.3em;
    text-align: center;
    font-family: sans-serif;

    transition: font-size 0.2s, border 0.2s;
}

.popular .periods .active {
    margin-left: auto;
    margin-right: auto;
    
    padding: 2px 16px;
    
    flex: none;

    font-size: 1.5em;

    border:rgb(29, 41, 46) solid 1px;
    border-radius: 50px;
}

.popular hr {
    margin-top: 18px;
    margin-bottom: 18px;

    width: 95%;
    height: 0.5px;

    border: none;
    border-radius: 60px/75%;

    background-color: rgb(29, 41, 46);
}

.popular .books {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.popular .books img {
    width: 22%;
    height: auto;

    border-radius: 5px;

    background-size: cover;
    background-repeat: no-repeat;
}

.popular .books .active {
    width: 28%;
    height: auto;
}

.new-releases {
    position: relative;

    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    padding-bottom: 10px;

    width: 95%;
    height: auto;

    border-radius: 10px;

    background-color: #727476;
}

.new-releases .title {
    font-size: 1.5em;
    text-align: center;
    font-family: LEMON MILK medium;
    color: rgb(29, 41, 46);
}

/*.seeall_button {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 15px;
    align-self: flex-end;
    background-image: url(../../Images/plus-symbol-button.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: rgb(29, 41, 46);
}*/

.new-releases hr {
    margin-top: -12px;

    width: 95%  ;
    height: 0.5px;

    border: none;
    border-radius: 60px/75%;

    background-color: rgb(29, 41, 46);
}

.new-releases .books {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    align-items: center;

    width: 90%;
    height: auto;
}

.new-releases .books .top {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    width: 100%;
    height: auto;
}

.new-releases .books .bottom {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 25px;
    
    align-items: center;
    
    width: 100%;
    height: auto;
}

.new-releases .books img {
    width: 24%;
    height: auto;
    max-height: 110px;

    border-radius: 5px;
}

.recommendations {
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    
    left: 50%;
    transform: translate(-50%, 0);
    
    padding-bottom: 20px;
    
    align-items: center;

    width: 95%;
    height: auto;

    border-radius: 10px;

    background-color: #727476;
}

.recommendations .title {
    white-space: nowrap;

    font-size: 1.3em;
    text-align: center;
    font-family: LEMON MILK medium;
    color: rgb(29, 41, 46);
}

.recommendations hr {
    margin-top: -12px;
    margin-bottom: -12px;

    width: 95%;
    height: 0.5px;

    border: none;
    border-radius: 60px/75%;

    background-color: rgb(29, 41, 46);
}

.genres {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.genres h1 {
    color: rgb(29, 41, 46);

    font-size: 0.9em;
    text-align: center;
    font-family: sans-serif;
}

.genres .active {
    padding: 2px 16px;

    font-size: 1.1em;

    border:rgb(29, 41, 46) solid 1px;
    border-radius: 50px;
}

.recommendations .books {
    display: flex;
    gap: 10px;
    
    padding: 8px;

    align-items: center;

    width: 90%;
    height: auto;

    border-radius: 10px;

    background-color: #4682b4;
}

.recommendations .books .cover {
    width: 25%;
    height: auto;

    border-radius: 5px;

    background-size: cover;
    background-repeat: no-repeat;
}

.recommendations .book .text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    width: 70%;
}

.recommendations .books .title {
    color: rgb(29, 41, 46);

    align-self: flex-start;

    width: 95%;

    font-family: LEMON MILK medium;
    font-size: clamp(10px, 4vw, 13px);
    text-align: left;
}

.recommendations .books .author {
    color: rgb(29, 41, 46);

    margin: 0;

    font-family: sans-serif;
    font-size: clamp(10px, 3vw, 12px);
    text-align: left;
}

.recommendations .books .description {
    color: rgb(29, 41, 46);
    
    overflow: hidden;

    width: 100%;
    max-height: 60px;

    font-size: clamp(10px, 3vw, 12px);
    font-family: sans-serif;
    text-align: justify;
}

.starsrating {
    align-self: flex-end;

    filter: invert(0.8);
    width: 80px;
    height: 20px;
}


