html {

    background-color: #161616;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;

}

.navigation_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_navigation_bar {
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: white;
    cursor: pointer;
    font-family: AMORIA;
    font-size: 40px;
}

.button_lupa_navigation_bar {
    background-color: transparent;
    background-image: url(../../Images/lupa.png);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: white;
    cursor: pointer;
}

.daily_recommendation_container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 150px;
    background-color: #727476;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daily_recommendation_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: LEMON MILK;
    text-align: left;
    color: rgb(29, 41, 46);
    margin-top: -40px;
    margin-left: 45px;
}

.daily_recommendation_image {
    position: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 110px;
    margin-left: -80px;
    margin-top: 100px;
    border-radius: 5px;
    background-image: url(../../Images/daily_recommendation.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.daily_recommendation_description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    width: 150px;
    font-family: Arial Bold;
    text-align: justify;
    color: rgb(29, 41, 46);
    margin-top: 20px;
    margin-left: 49px;
}

.popular_books_container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 70px;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 270px;
    background-color: #727476;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular_books_title {
    position: static;
    font-size: 20px;
    text-align: center;
    font-family: LEMON MILK;
    text-align: center;
    color: rgb(29, 41, 46);
    margin-top: -210px;
    margin-left: -10px;
}

.popular_books_weekly {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 150px;
    font-family: sans-serif;
    text-align: justify;
    color: rgb(29, 41, 46);
    margin-top: -80px;
    margin-left: -45px;
}

.popular_books_monthly {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    width: 150px;
    font-family: sans-serif;
    text-align: justify;
    color: rgb(29, 41, 46);
    margin-top: -80px;
    margin-left: 40px;
}

.popular_books_yearly {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 150px;
    font-family: sans-serif;
    text-align: justify;
    color: rgb(29, 41, 46);
    margin-top: -80px;
    margin-left: 145px;
}

.popular_books_line {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 1px;
    margin-top: -87px;
    margin-left: -38px;
}

.popular_books_image1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 100px;
    margin-left: -90px;
    margin-top: 40px;
    border-radius: 5px;
    background-image: url(../../Images/amanhecer\ na\ colheita.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.popular_books_image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 120px;
    margin-left: 0px;
    margin-top: 40px;
    border-radius: 5px;
    background-image: url(../../Images/the\ poppy\ war.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.popular_books_image3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 100px;
    margin-left: 90px;
    margin-top: 40px;
    border-radius: 10px;
    background-image: url(../../Images/warbreaker.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.new_releases_container {
    position: absolute;
    top: 96%;
    left: 50%;
    margin-top: 82px;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 300px;
    background-color: #727476;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.new_releases_title {
    position: static;
    font-size: 20px;
    text-align: center;
    font-family: LEMON MILK;
    color: rgb(29, 41, 46);
    margin-left: -90px;
}

.seeall_button {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 15px;
    align-self: flex-end;
    background-image: url(../../Images/plus-symbol-button.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: rgb(29, 41, 46);
}

.new_releases_books_container {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.new_releases_image {

    width: 70px;
    height: auto;
    border-radius: 5px;

}

.recommendations_container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 800px;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 500px;
    background-color: #727476;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendations_title {
    position: static;
    font-size: 17px;
    text-align: center;
    font-family: LEMON MILK;
    text-align: center;
    color: rgb(29, 41, 46);
    margin-top: -420px;
}

.recommendations_genre_container {

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.recommendations_genre {

    font-size: 10px;
    width: 40px;
    text-align: center;
    font-family: sans-serif;
    color: rgb(29, 41, 46);
    

}

.recommendations_book1_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 100px;
    margin-left: -90px;
    margin-top: 40px;
    border-radius: 5px;
    background-image: url(../../Images/amanhecer\ na\ colheita.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.recommendations_book2_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 120px;
    margin-left: 0px;
    margin-top: 40px;
    border-radius: 5px;
    background-image: url(../../Images/the\ poppy\ war.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.recommendations_book3_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 100px;
    margin-left: 90px;
    margin-top: 40px;
    border-radius: 10px;
    background-image: url(../../Images/warbreaker.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}