<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles.css">

</head>
<body>

    <div class="background_container" alt="Profile Image">

        <p class="visions_logo">𓇼 ⋆.˚ 𓆉 𓆝 𓆡⋆.˚ 𓇼</p>
        <p class="background_visions">Visions</p>

    </div>

    <div class="nav_container">

        <img src="../../Images/profile_back_arrow.png" class="nav_back_arrow" alt="Back Arrow" onclick="toHomeScreen()">

        <input type="text" class="nav_search_bar" placeholder="Search for a book!!!">

    </div>

    <div class="filter_container">

        <img src="../../Images/search_filter_icon.png" class="filter_icon" alt="Filter Icon">

        <p class="filter_text">Adicione alguns filtros</p>

    </div>
    
</body>
</html>