html {
    scrollbar-width: none;

    color: white;
    background-color: #161616;

}

body {
    position: relative;

    padding: 12vw 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;
}

.alert {

    position: fixed;
    display: none;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    top: 10%;

    width: 270px;
    height: 120px;

    background-color: rgba(255, 154, 154, 0.824);

    border: 1px solid red;
    border-radius: 5px;
}

.alert .top {

    position: relative;
    display: flex;
    align-items: center;

    padding: 5px 0 0 10px;

    width: 100%;
    height: 30%;

    border-radius: 5px 5px 0px 0px;

    gap: 10px;
}

.alert .top .icon {
    width: 30px;
    height: 30px;
}

.alert .top .title {
    font-size: 25px;
    color: red;
}

.alert .content {
    position: relative;
    display: flex;
    align-items: center;

    margin-top: -10px;

    width: 80%;
    height: auto;
}

.alert .content .text {
    font-size: 18px;
    color: red;
}

.background_container {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background_visions {
    margin-top: auto;

    font-size: 50px;
}

.visions_logo{
    margin-bottom: auto;
}

.nav_container {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 16vw;
    
    background-color: white;

    border-radius: 14px;

    box-shadow: 0px 1px 10px #16161677;
}

.nav_back_arrow {
    cursor: pointer;
    z-index: 1;

    margin-top: 10px;
    margin-left: 15px;

    width: 30px;
    height: 30px;

    background-image: url("../../Images/profile_back_arrow.png");
    background-color: transparent;
    background-size: cover;
    border: none;
}

.nav_search_bar {
    margin-top: 10px;
    margin-left: 20px;

    width: 70%;
    height: 30px;

    border: none;

    font-size: 18px;;
}

.nav_container .send {
    justify-self: flex-end;

    margin-top: 10px;

    width: 35px;
    height: 35px;

    background-image: url("../../Images/send.png");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
}

.filter_container {
    position: relative;
    display: flex;
    align-items: center;

    width: 80%;
    height: 6%;

    background-color: white;

    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.filter_icon {
    margin-top: 7px;
    margin-left: 10px;

    width: 30px;
    height: 30px;
}

.filter_text {
    margin-left: 12px;

    color: black;
}

.results {
    position: relative;

    display: none;
    flex-direction: column;
    
    align-items: center;

    width: 90vw;
    height: auto;

    gap: 15px;
}

.results .book {

    position: relative;

    display: flex;
    gap: 10px;
    overflow: hidden;

    padding: 5px;

    align-items: stretch;
    
    width: 90%;
    aspect-ratio: 3/1;

    border: 1px solid black;
    border-radius: 10px;
    
    background-color: rgba(0, 0, 0, 0.112);
}

.book img {
    width: 25%;
    height: auto;

    border-radius: 5px;
}

.book .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    max-width: calc(75% - 20px);

    flex-grow: 1;
}

.content h1 {
    margin: 3px 0 0 0;

    font-size: 1.2em;
    white-space: nowrap;
}

.content h2 {
    margin: 0;

    color: rgba(255, 255, 255, 0.838);
    text-indent: 0.3em;
    font-size: 0.8em;
}

.content p {
    margin: 5px 0 0 0;

    color: rgba(255, 255, 255, 0.838);
    text-indent: 0.9em;
    font-size: 0.7em;
}