<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../fonts.css">
    <script type="module" src="scripts.js"></script>
    <script src="https://unpkg.com/color.js@1.2.0/dist/color.js"></script>

</head>
<body>
    <div class="wallpaper">

        <div class="blur"></div>

        <button class="back-arrow" title = "Back Button"></button>
    
    </div>
    
    <img class="cover" alt="Uma Vida Pequena">
    
    <div class="book-content">
        <div class="text">
            
            <div class="title"></div>
            <div class="author"></div>
            
        </div>
        
        <div class="rating">
            
            <div class="number">
                0.0
            </div>
            
            <div class="right">
                <img src="../../Images/star_rating_icon.png"  class="stars" alt="">
                
                <div class="review">

                    0 reviews

                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="buttons">

        <button class="libary" onclick="addToLibrary()">Estante</button>
        <button onclick="readNow()">Resenha</button>

    </div>

    <hr>

    <div class="description">

        <h1 class="title">Sinopse</h1>
        <p class="text"></p>

    </div>
    
</body>
</html>