<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>

</head>
<body>

    <div class="book_container">

        <button class="book_back_arrow" onclick="toHomeScreen()"></button>

        <img src="../../Images/a little life.jpg" class="book_image" alt="A Little Life">

    </div>

    <div class="">

    </div>
    
</body>
</html>