
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../fonts.css">
    <script src="scripts.js"></script>

</head>
<body>

    <div class="book_container">

        <button class="book_back_arrow" onclick="toHomeScreen()" title = "Back Button"></button>

        <img class="book_image" alt="Uma Vida Pequena">
        
    </div>
    
    <div class="book_info_container">
        
        <div class="book_general_info_container">
            
            <div class="title">Uma Vida Pequena</div>
            <div class="author">por Hanya Yanagihara</div>
            
        </div>
        
        <div class="book_rating_container">
            
            <div class="rating_number">
                0.0
            </div>
            <div class="star_container">
                <img src="../../Images/star_rating_icon.png"  class="rating_stars" alt="">
                
                <div class="amount_review">

                    0 reviews

                </div>
            </div>
        </div>
    </div>

    <hr class="book_line">

    <div class="buttons_container">

        <button class="button_size libary" onclick="addToLibrary()">Estante</button>
        <button class="button_size" onclick="readNow()">Resenha</button>

    </div>

    <hr class="book_line bellow">

    <div class="description_container">

        <h1 class="description_title">Sinopse</h1>
        <p class="description_text">Uma Vida Pequena segue quatro colegas de faculdade - quebrados, à deriva e impulsionados apenas por sua amizade e ambição - enquanto se mudam para Nova York em busca de fama e fortuna..</p>

    </div>

    <div class="empty_space"></div>
    
</body>
</html>